<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>微海报</title>
	</head>
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/poster/1/tpl1.css" />
	<link rel="stylesheet" href="../../css/poster/pc_edit.css" />
	<link rel="stylesheet" href="../../css/poster/poster.css" />
	<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
	<script src="//cdn.bootcss.com/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
	<script src="../../js/poster/data.js"></script>
	<script id="template_div_input" type="text/template">
			<div class="edit-show-main" name="editshow">
				<div class="edit"><input type="text" ng-model=new_val[<%= _data.line %>][<%= _data.row %>].content  value={{new_val[<%= _data.line %>][<%= _data.row %>].content}} name="new_val[<%= _data.line %>][<%= _data.row %>].content"  maxlength={{new_val[<%= _data.line %>][<%= _data.row %>].maxlength}}  required ></div>
			</div>
		</script>
		<script id="template_div_textarea" type="text/template">
			<div class="edit-show-main" name="editshow">
				<div class="edit"><textarea type="text" ng-model=new_val[<%= _data.line %>][<%= _data.row %>].content  value={{new_val[<%= _data.line %>][<%= _data.row %>].content}} name="new_val[<%= _data.line %>][<%= _data.row %>].content" maxlength={{new_val[<%= _data.line %>][<%= _data.row %>].maxlength}} required >{{new_val[<%= _data.line %>][<%= _data.row %>].content}} </textarea></div>
			</div>
		</script>
		<script id="template_div_image" type="text/template">
			<section class="edit_boxs">
                    <span class="edit_type"></span>
						<section class="upload_image">
							<div class="notify_img">图片
							</div>
							<div class="notify_image">
								<img src="{{new_val[<%= _data.line %>][<%= _data.row %>].content}}" ng-model=new_val[<%= _data.line %>][<%= _data.row %>].content >
							</div>
								<div id="uploader" class="uploadify" style="height: 30px; width: 120px;">
								<div id="uploader-button" class="" style="">
									<a type="button" class="button" value="" ng-click="upload(<%= _data.line %>,<%= _data.row %>)">从图片库选择</a>
								</div>
							</div>
							<div class="notify_text">建议图片尺寸：640*1136</div>
						</section>
            </section>
		</script> 
	<body>
		<div id="contentwrapper">
			<div class="main_content">
				<div class="row-fluid">
					<div class="row-fluid">
						<div class="span12">
							<h3 class="heading">微海报</h3>
						</div>
						<form id="posterForm" class="form_validation_reg" name="posterForm" method="post">
							<div class="east" ng-app="posterApp" ng-controller='posterController'>
								<div class="right-content" ui-view></div>
								<div class="span4">
									<div style="center"><a id="a_publish" class="a_publish" ng-click="submit()">发布</a></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script>
			function Poster() {}
			Poster.prototype = {
				templateId: 1,
				divArray: [],
				sourceValue: data,
				sortedValue: [],
				counter: 0,
				returnValue: [],
			}
		</script>
		<script src="../../js/poster/poster.js"></script>
		<script src="../../js/poster/jsonParser.js"></script>
	</body>

</html>
